<ion-header>
  <ion-toolbar color="width">
    <ion-grid>
      <ion-row>
        <ion-col col-3 col-md-6 class="ion-align-items-center ion-justify-content-center">
          <img class="logo" src="assets/images/logo.png">
        </ion-col>
        <ion-col col-9 col-md-6 class="ion-align-items-center">
          <ion-title #titulo class="ion-text-center">
            <div>
              <p>Sistema de asistencia DUOC</p>
            </div>
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <div class="ion-padding-vertical">

    <ion-card class="ion-text-center ion-padding-vertical">

      <ion-card-title class="ion-text-center">
        <ion-label>
          <h2>¡Bienvenido!</h2>
          <p>* {{ usuario.nombre }} *</p>
        </ion-label>
      </ion-card-title>
      <p>Escanea el codigo QR para registrar tu asistencia a clases</p>

      <ion-button *ngIf="!escaneando" (click)="comenzarEscaneoQR()" expand="full" shape="round">
        <ion-icon slot="start" name="videocam-outline"></ion-icon>
        Comenzar Escaneo de QR
      </ion-button>
    
      <ion-button *ngIf="escaneando" (click)="detenerEscaneoQR()" expand="full" shape="round">
        <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
        Detener escaneo de QR
      </ion-button>
    
      <video #video [hidden]="!escaneando" width="100%"></video>
      <canvas #canvas hidden></canvas>
  
      <br>
      <td class="centrar"><b>DATOS DE LA ASIGNATURA </b></td>

      <div class="ion-padding-horizontal">
        <table class="tabla-excel">
          <br>
          <tr>
            <td class="etiqueta"><b>Sede:</b></td>
            <td class="respuesta">{{ sede }}</td>
          </tr>
          <tr>
            <td class="etiqueta"><b>Sigla:</b></td>
            <td class="respuesta">{{ idAsignatura }}</td>
          </tr>
          <tr>
            <td class="etiqueta"><b>Sección:</b></td>
            <td class="respuesta">{{ seccion }}</td>
          </tr>
          <tr>
            <td class="etiqueta"><b>Nombre asignatura:</b></td>
            <td class="respuesta">{{ nombreAsignatura }}</td>
          </tr>
          <tr>
            <td class="etiqueta"><b>Nombre profesor:</b></td>
            <td class="respuesta">{{ nombreProfesor }}</td>
          </tr>
          <tr>
            <td class="etiqueta"><b>Dia:</b></td>
            <td class="respuesta">{{ dia }}</td>
          </tr>
          <tr>
            <td class="etiqueta"><b>Bloque de inicio:</b></td>
            <td class="respuesta">{{ bloqueInicio }}</td>
          </tr>
          <tr>
            <td class="etiqueta"><b>Bloque de termino:</b></td>
            <td class="respuesta">{{ bloqueTermino }}</td>
          </tr>
          <tr>
            <td class="etiqueta"><b>Hora de inicio:</b></td>
            <td class="respuesta">{{ horaInicio }}</td>
          </tr>
          <tr>
            <td class="etiqueta"><b>Hora de termino:</b></td>
            <td class="respuesta">{{ horaFin }}</td>
          </tr>
        </table>
      </div>
    </ion-card>
  </div>

  <ion-label class="centrar">
    <a routerLink="">Cerrar sesion</a>
  </ion-label>

</ion-content>
