<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicio</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-content>
  <ion-button *ngIf="!escaneando" (click)="comenzarEscaneoQR()" expand="full" shape="round">
    <ion-icon slot="start" name="videocam-outline"></ion-icon>
    Comenzar Escaneo de QR
  </ion-button>

  <ion-button *ngIf="escaneando" (click)="detenerEscaneoQR()" expand="full" shape="round">
    <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
    Detener escaneo de QR
  </ion-button>

  <video #video [hidden]="!escaneando" width="100%"></video>
  <canvas #canvas hidden></canvas>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Los datos del Código QR son los siguientes:</ion-card-title>
    </ion-card-header>
    <ion-card-content class="borde">
      <h2 *ngIf="datosQR">
        {{ datosQR }}
      </h2>
      <h2 *ngIf="!datosQR">
        Sin información
      </h2>
    </ion-card-content>
  </ion-card>
  
</ion-content>
