<ion-content class="login-content">
  <ion-title class="ion-padding-top ion-text-center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png" width="100px" />
    <ion-label>
      <h1 class="titulo">Sistema de Asistencia DUOC</h1>
    </ion-label>
  </ion-title>

  <div class="ion-padding-vertical">

    <ion-card class="ion-text-center ion-padding-vertical login-card">

      <ion-card-title class="ion-text-center">
        <ion-label>
          <h2>¡Bienvenido!</h2>
        </ion-label>
      </ion-card-title>

      <ion-card-content>
        <div class="input-box">
          <ion-item>
            <ion-input placeholder="Correo" type="text" [(ngModel)]="usuario.email"></ion-input>
          </ion-item>
        </div>
        <div class="input-box">
          <ion-item>
            <ion-input placeholder="Contraseña" type="password" [(ngModel)]="usuario.password"></ion-input>
          </ion-item>
        </div>
        <div class="button-box">
          <ion-row class="ion-padding-top">
            <ion-col size="12">
              <ion-button expand="full" (click)="ingresar()">Ingresar</ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-card-content>
      
    </ion-card>
  </div>

  <ion-label class="centrar">
    <br>
    <a [routerLink]="['/correo']">Recuperar contraseña</a>
  </ion-label>
  
</ion-content>
