<ion-content>
  <ion-title class="ion-padding-top ion-text-center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png" width="100px" />
    <ion-label>
      <p>Sistema de Asistencia DUOC</p>
    </ion-label>
  </ion-title>

<ion-content>
  <div class="ion-padding-vertical">

  <ion-card class="ion-text-center ion-padding-vertical">

    <ion-card-title class="ion-text-center">
      <ion-label>
        <h2>Datos de la asignatura</h2>
      </ion-label>
    </ion-card-title>

    <ion-grid class="infDat">
      <ion-row>
        <ion-col col-6 col-md-6>
          <ion-card>
            <ion-card-content class="borde">
              <table>
                <tr>
                  <td>{{sede}}</td>
                </tr>
                <tr>
                  <td>{{idAsignatura}}</td>
                </tr>
                <tr>
                  <td>{{seccion}}</td>
                </tr>
                <tr>
                  <td>{{nombreAsignatura}}</td>
                </tr>
                <tr>
                  <td>{{nombreProfesor}}</td>
                </tr>
                <tr>
                  <td>{{dia}}</td>
                </tr>
                <tr>
                  <td>{{bloqueInicio}}</td>
                </tr>
                <tr>
                  <td>{{bloqueTermino}}</td>
                </tr>
                <tr>
                  <td>{{horaInicio}}</td>
                </tr>
                <tr>
                  <td>{{horaFin}}</td>
                </tr>
              </table>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>
  </div>

</ion-content>
